.user-profile-cardU {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 70vh;
    margin-top: 90px;
}

.card2 {
    width: 700px;
    height: 400px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-body2 {
    padding: 20px;
}
.user-details2 h2 {
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    color: black;
    font-size: 30px;
    /* margin-top: 5px; */
    /* position: relative;
    bottom: 110px;
    right: 80px; */
}

.user-details2 input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
}
.create1{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    left: 550px;
    bottom:5px; */
}