.allfav{
  
    height: 100%;
}
.cardfav{
  display: flex;
  align-items: center;
  justify-content: space-between;
    width: 30%;
    height: 200px;
    margin: 30px;
    margin-top:50px;
    /* border: solid; */
    border-color:rgb(3, 93, 28);
    border-radius: 20px;
    border: none;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
}
.cardfav-body{
    font-size: 20px;
    margin: 10px;
}
.buttonfavv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    /* margin-left: 400px; */
    margin-left: auto; /* Automatically moves to the end */
    margin-right: 10px;
    /* position: relative;
    left: 650px;
    bottom: 100px; */
    /* gap: 2px; */

  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .buttonfavv:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
  }
  
  .bin-top {
    transform-origin: bottom right;
  }
  .buttonfavv:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
  }